.idea
node_modules/
.DS_Store
package-lock.json

out/

# dotenv environment variables file
.env

# next.js build output
.next
### Sass template
.sass-cache/
*.css.map

# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*