.feed-container-m {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.feed-list-container-m {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15pt;
  width: 100%;
}

.feed-header {
  font-size: 30px;
}