@import 'color.scss';

h3:before {
  content: "";
  display: block;
  margin-top: -91px;
  height: 91px;
  visibility: hidden;
}

a:link {
  color: initial;
  text-decoration: none;
}

a:visited {
  color: initial;
  text-decoration: none;
}